{% set path = page.filePathStem %}

{% macro isActive(base) -%}
  {%- if path == base or path.indexOf(base + '/') == 0 -%}
    active
  {%- endif -%}
{%- endmacro %}
{% macro isActiveAny(bases) -%}
  {%- set match = false -%}

  {%- for base in bases -%}
    {%- if path == base or path.indexOf(base + '/') == 0 -%}
      {%- set match = true -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if match -%}active{%- endif -%}
{%- endmacro %}




<div class="header">

    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="header__top__left">
                        <li><i class="fa fa-phone"></i> +91 9490903999</li>
                        <li><i class="fa fa-map-marker"></i> Old club road, Kothapeta, Guntur, Andhra Pradesh 522001</li>
                        <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 01:00pm</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="header__top__right">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/"><img src="/assets/img/main_logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__menu__option">
                    <nav class="header__menu">
                        <ul>
                            <li class="{{ isActive('/index') }}"><a href="/">Home</a></li>
                            <li class="{{ isActive('/about') }}"><a href="/about/">About</a></li>
                            <li class="{{ isActive('/services') }}"><a href="/services/">Services</a></li>
                            <li class="{{ isActiveAny(['/pricing', '/doctor', '/blog-details']) }}"><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/pricing/">Pricing</a></li>
                                    <li><a href="/doctor/">Doctor</a></li>
                                    <li><a href="/blog-details/">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="{{ isActive('/blog') }}"><a href="/blog/">News</a></li>
                            <li class="{{ isActive('/contact') }}"><a href="/contact/">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header__btn">
                        <a href="/#consultation__form" class="primary-btn">Appointment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>

</div>