
<div class="services__sidebar">
    <div class="services__accordion">
        <div class="services__title">
            <h4><img src="/assets/img/icons/services-icon.png" alt=""> All services</h4>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-heading active">
                    <a data-toggle="collapse" data-target="#collapseOne">
                        Hair Treatments
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="/services/hair-transplantation">Hair transplantion</a></li>
                            <li><a href="/services/gfc-hair-treatement">GFC Hair Treatment</a></li>
                            <li><a href="/services/laser-hair-removal">Laser hair removal</a></li>
                            <li><a href="/services/mnrf-prp">MNRF+PRP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading active">
                    <a data-toggle="collapse" data-target="#collapseOne">
                        Skin Treatment
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="/services/hair-transplantation">Viral warts treatment</a></li>
                            <li><a href="/services/gfc-hair-treatement">Cautery</a></li>
                            <li><a href="/services/laser-hair-removal">Target phototherapy (psoriasis, eczema)</a></li>
                            <li><a href="/services/mnrf-prp">Vitiligo surgeries</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo">
                        Skin Brightening Treatments
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="/services/hydra-facial">Hydra Facial</a></li>
                            <li><a href="/services/medi-facial">Medi Facial</a></li>
                            <li><a href="/services/laser-tonic-peels">Laser Tonic Peels</a></li>
                            <li><a href="/services/skin-booster">Skin Booster</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseThree">
                        Anti-Ageing / Cosmetic Procedures
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="/services/botox">Botox</a></li>
                            <li><a href="/services/hifu">HIFU</a></li>
                            <li><a href="/services/skin-booster">Skin Booster</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFour">
                        Skin Polishing / Texture Treatments
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="/services/microdermabrasion">Microdermabrasion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFive">
                        Advanced laser treatments
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="/services/helios-iii-q-switched-nd-yag-laser">Helios III Q-Switched Nd:YAG Laser</a></li>
                            <li><a href="/services/laser-toning-peels">Laser toning + peels</a></li>
                            <li><a href="/services/laser-tattoo-removal">Laser Tattoo Removal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services__appoinment">
    <div class="services__title">
        <h4><img src="/assets/img/icons/services-icon.png" alt=""> Get an appointment</h4>
    </div>
    <form action="#">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <div class="datepicker__item">
            <input type="text" placeholder="Date" class="datepicker">
            <i class="fa fa-calendar"></i>
        </div>
        <select>
            <option value="">Type of service</option>
            <option value="">Advanced equipment</option>
            <option value="">Qualified doctors</option>
            <option value="">Certified services</option>
            <option value="">Emergency care</option>
        </select>
        <button type="submit" class="site-btn">Book appoitment</button>
    </form>
</div>