---
layout: services.njk
title: Skin Perfect - Hair Transplantation
---


<div class="services__details">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__details__title">
                <span>Hair Transplantation</span>
                <h3>💡 What is Hair Transplantation?</h3>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__details__widget">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <span>( 5.0 Review )</span>
            </div>
        </div>
    </div>
    <div class="services__details__pic">
        <img src="/assets/img/services/services-details.jpg" alt="">
    </div>
    <div class="services__details__text">
        <p>Hair transplantation is a minimally invasive surgical procedure used to treat permanent hair loss. Healthy hair follicles are taken from a donor area (usually the back or sides of the scalp) and implanted into thinning or bald areas. The transplanted hair grows naturally and permanently.</p>
            <div class="blog__details__text">
                    <div class="blog__details__text__item">
                        <h5>Step 1 - 1. Consultation & Planning</h5>
                        <p>A detailed scalp and hair density evaluation is performed to understand hair loss patterns. Based on facial proportions, a natural hairline is designed and the required graft count and technique are finalized.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 2 - Donar Area Preparation</h5>
                        <p>The donor area is trimmed, cleaned, and prepared under sterile conditions. Local anesthesia is administered to ensure a comfortable and pain-free procedure.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 3 - Graft extraction</h5>
                        <p>Healthy hair follicles are carefully extracted using advanced techniques such as FUE or FUT. The grafts are preserved in a controlled solution to maintain their strength and survival.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 4 - Recipient Area Preparation</h5>
                        <p>Tiny channels are created in the treatment area with precise angles and direction. This step ensures natural hair growth and a realistic appearance.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 5 - Graft implantation</h5>
                        <p>The harvested follicles are implanted carefully into the prepared sites. Hair density and pattern are customized to blend seamlessly with existing hair.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 6 - Post-Procedure Care</h5>
                        <p>Patients are discharged on the same day with minimal downtime. Temporary redness or swelling may occur, and detailed aftercare instructions are provided.</p>
                    </div>
            </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="services__details__item__pic">
                <img src="/assets/img/services/sd-1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="services__details__item__pic">
                <img src="/assets/img/services/sd-2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="services__details__item__pic">
                <img src="/assets/img/services/sd-3.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="services__details__desc">
        <div class="blog__details__text__item">
                        <h5>Recovery & Results</h5>
                <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="services__details__feature">
                    <li><i class="fa fa-check-circle"></i> First 7–10 days: Healing phase; scabs fall off naturally</li>
                    <li><i class="fa fa-check-circle"></i>2–3 months: Temporary shedding (“shock loss”)—normal</li>
                    <li><i class="fa fa-check-circle"></i> 3–6 months: New hair growth begins</li>
                    <li><i class="fa fa-check-circle"></i> 9–12 months: Final visible results with full density</li>
                </ul>
                </div>
        </div>
        
    </div>
</div>