---
layout: services.njk
title: Skin Perfect - Dermatology & Cosmetic clinic
---

<div class="services__details">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__details__title">
                <span></span>
                <h3></h3>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="services__details__widget">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <span>( 5.0 Review )</span>
            </div>
        </div>
    </div>
    <div class="services__details__pic">
        <img src="/assets/img/equipment-pic.png" alt="">
    </div>
    <div class="services__details__text">
        <p>GFC Hair Treatment is a non-surgical hair restoration procedure that uses growth factors extracted from your own blood. These growth factors help activate dormant hair follicles, improve scalp health, and promote thicker, stronger hair growth.</p>
        <p>Unlike traditional PRP, GFC is more refined, concentrated, and advanced, giving faster and longer-lasting results.</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="services__details__item__pic">
                <img src="/assets/img/services/sd-1.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="services__details__item__pic">
                <img src="/assets/img/services/sd-2.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="services__details__item__pic">
                <img src="/assets/img/services/sd-3.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="services__details__desc">
        <p>GFC Hair Treatment is a safe and effective option for individuals experiencing hair thinning or early hair loss. It can be used alone or in combination with other hair restoration treatments for enhanced results.</p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="services__details__feature">
                    <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                    <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                    <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                    <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="services__details__feature">
                    <li><i class="fa fa-check-circle"></i> Routine and medical care</li>
                    <li><i class="fa fa-check-circle"></i> Excellence in Healthcare every</li>
                    <li><i class="fa fa-check-circle"></i> Building a healthy environment</li>
                    <li><i class="fa fa-check-circle"></i> cumsan lacus vel facilisis.</li>
                </ul>
            </div>
        </div>
        <p></p>
    </div>
</div>