---
layout: base.njk
title: Skin Perfect - Dermatology & Cosmetic clinic
---

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="set-bg" data-setbg="/assets/img/procedure/gfc-1.png">
            <div class="blog__details__hero" >
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7 text-center">
                        <div class="blog__hero__text">
                            <h2>🌿 GFC Hair Treatment: A Complete Guide for Hair Regrowth</h2>
                            <p>Hair fall and thinning are common problems today due to stress, pollution, hormonal changes, and lifestyle habits. GFC (Growth Factor Concentrate) Hair Treatment is an advanced, safe, and effective solution designed to stimulate natural hair regrowth and strengthen existing hair.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__text">
                    <div class="blog__details__text__item">
                        <h5>Step 1 - Blood Collection</h5>
                        <p>A small amount of blood is drawn from the patient, similar to a routine blood test.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 2 - Growth Factor Extraction</h5>
                        <p>The blood is processed using specialized technology to isolate pure growth factor concentrate.</p>
                    </div>
                    
                </div>
                
            </div>
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/img/procedure/gfc-2.png" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="/assets/img/procedure/gfc-3.png" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="/assets/img/blog/details/bd-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                
                <div class="blog__details__text">
                    <div class="blog__details__text__item">
                        <h5>Step 3 - Scalp Preparation</h5>
                        <p>The scalp is cleaned and numbed to ensure a comfortable procedure.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 4 - GFC Injection</h5>
                        <p>The prepared growth factors are injected into thinning or balding areas of the scalp using fine needles.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>Step 5 - Recovery</h5>
                        <p>The procedure is quick, with no downtime. Patients can return to normal activities the same day.</p>
                    </div>
                </div>
                <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="services__details__feature">
                                    <li><i class="fa fa-check-circle"></i> Reduces excessive hair fall </li>
                                    <li><i class="fa fa-check-circle"></i> Promotes natural hair regrowth</li>
                                    <li><i class="fa fa-check-circle"></i> Improves hair thickness and density</li>
                                    <li><i class="fa fa-check-circle"></i> Safe and minimally invasive.</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ul class="services__details__feature">
                                    <li><i class="fa fa-check-circle"></i> No surgery or scars </li>
                                    <li><i class="fa fa-check-circle"></i> Quick and convenient procedure</li>
                                    <li><i class="fa fa-check-circle"></i> No surgery or scars</li>
                                    <li><i class="fa fa-check-circle"></i> Long-lasting results</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__details__desc">
                    <p>A traditional neck lift incision often begins in the hairline at the level of the sideburn,
                        continues down and around the ear and ends in the posterior hair. Fat may be sculpted or
                        redistributed from the jowls and neck. The tissue underlying the neck skin is repositioned,
                        and commonly the platysma muscle is tightened. Skin is redraped over the uplifted contours
                        and excess skin is trimmed away. A separate incision under the chin is often necessary for
                        liposuction of this area and for repair of the muscle. Sutures or skin adhesives close the
                    incisions.</p>
                </div>
                <div class="blog__details__desc__more">
                    <p>A limited incision neck lift may involve incisions only around the ear. While the incisions
                    are shorter, the results may be more limited.</p>
                </div>
                <div class="services__details__desc">
                        <p>Atque eum alias debitis suscipit, sint dignissimos minus quisquam recusandae nostrum quas
                            eligendi odit, fugiat eius rem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eum alias debitis
                            suscipit, sint dignissimos minus quisquam recusandae nostrum quas eligendi odit, fugiat
                            eius rem. Cumque, labore placeat! Velit, vitae. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</p>
                    </div>
                <div class="blog__details__tag">
                    <p><i class="fa fa-tag"></i> Tag:</p>
                    <a href="#">Wedding</a>
                    <a href="#">Event</a>
                    <a href="#">Couple</a>
                </div>
                <div class="blog__details__btns">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#" class="blog__details__btn__item">
                                <h6 class="title"><i class="fa fa-angle-left"></i> Previous posts</h6>
                                <div class="blog__details__btn__pic">
                                    <img src="/assets/img/blog/details/prev.jpg" alt="">
                                </div>
                                <div class="blog__details__btn__text">
                                    <h6>Looking for Music & Sounds for my new Android...</h6>
                                    <span>Nov 27, 2019</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a href="#" class="blog__details__btn__item blog__details__btn__prev">
                                <h6 class="title">Next posts <i class="fa fa-angle-right"></i></h6>
                                <div class="blog__details__btn__pic">
                                    <img src="/assets/img/blog/details/next.jpg" alt="">
                                </div>
                                <div class="blog__details__btn__text">
                                    <h6>Looking for Music & Sounds for my new Android...</h6>
                                    <span>Nov 27, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

