---
layout: base.njk
title: Skin Perfect - Dermatology & Cosmetic clinic
---

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="/assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>About Us</h2>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="/assets/img/doc.png" alt="About Us Image">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>ABOUT OUR DOCTOR</span>
                        <h2>DR. SINDHURA MANNE, MBBS, MD, DVL</h2>
                    </div>
                    <p>Dr. Sindhura Manne is a highly qualified dermatologist with over 10 years of experience in providing advanced skin and hair care treatments. She is dedicated to helping patients achieve healthy, glowing skin through personalized care and the latest medical technologies.</p>
                    <ul>
                        <li>
                            <i class="fa fa-check-circle"></i> 10+ Years of Experience</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Advanced Medical Technology</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Personalized Treatment Plans</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Patient-Centered Care</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Commitment to Excellence</li>
                    </ul>
                    <a href="#" class="x-contact-us primary-btn normal-btn">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about__text">
                    <div class="section-title">
                        <span>ABOUT OUR CLINIC</span>
                        <h2>WELCOME TO SKIN PERFECT GUNTUR</h2>
                    </div>
                    <p>Skin Perfect Guntur is a trusted clinic for advanced skin and hair care treatments.We provide safe, effective, and personalized solutions to help you achieve healthy, glowing skin.</p>
                    <ul>
                        <li>
                            <i class="fa fa-check-circle"></i> Comprehensive Skin & Hair Care Services</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Latest Technology</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Excellence in Dermatological Treatments</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Building a healthy environment</li>
                        <li>
                            <i class="fa fa-check-circle"></i> Personalized care for every patient</li>
                    </ul>
                    <a href="#" class="x-contact-us primary-btn normal-btn">Contact us</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <img src="/assets/img/gallery/gal-12.jpeg" alt="About Us Image">
            </div>
        </div>
    </div>
</section>
<!-- About Section Begin 1 -->

<!-- About Section END -->
<!-- Chooseus Section Begin -->
<section class="chooseus spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Why choose us?</span>
                    <h2>Offer for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="/assets/img/icons/ci-1.png" alt="">
                    <h5>Advanced equipment</h5>
                    <p>Our clinic is equipped with state-of-the-art technology to ensure the best treatment outcomes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="/assets/img/icons/ci-2.png" alt="">
                    <h5>Qualified doctors</h5>
                    <p>Our team consists of highly qualified and experienced dermatologists who are dedicated to providing the best care.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="/assets/img/icons/ci-3.png" alt="">
                    <h5>Certified services</h5>
                    <p>All our services are certified and meet the highest standards of quality and safety.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="/assets/img/icons/ci-4.png" alt="">
                    <h5>Emergency care</h5>
                    <p>Our clinic is equipped to handle emergency dermatological cases with prompt and professional care.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Chooseus Section End -->

<!-- Testimonials Section Begin -->
<section class="testimonials spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>Happy clients</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>    Lohith jayasurya </h5>
                                <span>Google review</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>I had a wonderful experience here. Sindhura mam has immense knowledge and explained everything about the procedures very clearly. She supported me throughout my treatment journey and made me feel completely comfortable.
I underwent GFC and laser skin toning, and I’m very happy with the results so far.
Special thanks to Latha gaaru as well for her constant support, guidance, and friendly nature. Overall, the service was excellent and highly professional. Highly recommended!</p>
                
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>NageswaRao Mekala</h5>
                                <span>Google review</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Excellent over all experience.Dr.Sindhura is very caring caring and takes time to explain every step.
The clinic is equipped with latest technology equipment.
HiFU is actually painless. Visible changes can be appreciated pre and post procedure.
I can recommended skin perfect for the expertise in Anti aging technology.
Will definitely come back for more.
Highly recommended.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Poornima ganti</h5>
                                <span>Google review</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Initially I have a similar hairfall & FPHL, When I consulted Dr. Sindhura ma'am. She suggested treatment for the problem and she is very down to earth & friendly and treated very well. Within in prescribed time my hair started baby hairs, I have started my 2nd treatment for the hair as well after very good & visible results from the 1st treatment. and i'm very happy with the treatment and the staff is also very friendly and supportive. Go to place for all the skin & hair treatments. Thank you so much Dr. Sindhura ma'am & staff. 💕</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Mounika Gogineni</h5>
                                <span>Google review</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>I have been visiting skin perfect for 3-4 years. This has been my go to recommendation for all skin and hair issues. Professional, efficient and truly patient focussed. I loved the ambience of the new clinic. Dr. Sindhura mam is an excellent doctor, one feels very assured  and in safe hands.<p/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Yannam Sisira Reddy</h5>
                                <span>Google review</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Dr. Sindhura is a very good doctor. She is very friendly and explains the treatment in detail. I have been visiting her for the past 3 years and I am very happy with the treatment. The clinic is also very clean and hygienic. I would highly recommend Dr. Sindhura to anyone looking for a good dermatologist.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <div class="testimonial__author__text">
                                <h5>Haritha Guntupalli</h5>
                                <span>Google review</span>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <p>Dr. Sindhura is a very good doctor. She is very friendly and explains the treatment in detail. I have been visiting her for the past 3 years and I am very happy with the treatment. The clinic is also very clean and hygienic. I would highly recommend Dr. Sindhura to anyone looking for a good dermatologist.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->

<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Our Team</span>
                    <h2>Our Expert Doctors</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="team__item">
                    <img src="/assets/img/doc.png" alt="Dr. Sindhura Manne">
                    <h5>DR. SINDHURA MANNE, MBBS, MD, DVL</h5>
                    <span>Dermatologiest</span>
                    <div class="team__item__social">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</section>
<!-- Team Section End -->