---
layout: base.njk
title: Skin Perfect - Dermatology & Cosmetic clinic
---

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option spad set-bg" data-setbg="/assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Our Prices</h2>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <span>Pricing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Pricing Section Begin -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="blog__details__hero set-bg" data-setbg="/assets/img/blog/details/blog-hero.jpg">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="blog__hero__text">
                        <h2>Here’s how you can get a natural glow this party season</h2>
                        <ul>
                            <li><img src="/assets/img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                        <div class="col-sm-4">
                            <div class="services__details__item__pic">
                                <img src="/assets/img/services/sd-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services__details__item__pic">
                                <img src="/assets/img/services/sd-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="services__details__item__pic">
                                <img src="/assets/img/services/sd-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
        </div>    
</section>
<section>
    <div class="services__details__pic">
                        <img src="/assets/img/services/services-details.jpg" alt="">
                    </div>  
                    <div class="services__details__text">
                        <p>GFC Hair Treatment is a non-surgical hair restoration procedure that uses growth factors extracted from your own blood. These growth factors help activate dormant hair follicles, improve scalp health, and promote thicker, stronger hair growth.</p>
                        <p>Unlike traditional PRP, GFC is more refined, concentrated, and advanced, giving faster and longer-lasting results.</p>
                    </div>
</section>
<!-- Pricing Section End -->